#site-map { background: rgb(60, 60, 60); }
#header .logo { background-image: url(../images/tvr_logo.gif); }
#join-donate { margin: 0 0 10px 0; }
#join-badge { background-image: url(../images/join2.gif); background-color: transparent; }
#donate-badge { background-image: url(../images/donate2.gif); }
#fundraising div { color: #ddd; }
