@()(implicit request: play.api.mvc.Request[Any])

@main(title="bikeMS", bodyId="events") {

<div id="pagemenu">
    <span class="page-title">bikeMS</span>
</div>

<p>
Team Velox Rota has members participating in the following events.  If you’d like to join the team, the button corresponding with the event will bring you directly to the registration page at the National MS Society.  If you do not see an event that you’d like to do, please email <a href="mailto:info&#64;veloxrota.org">info&#64;veloxrota.org</a> and we will add it to the list.  
</p>

<div class="event">
  <h3>Cape Cod Getaway</h3>
  <div class="date_loc">June 30 - July 1, 2018 &mdash; Quincy, MA</div>
  <p>
    2-Day, 150 miles from Quincy to Bourne, MA on day one.  Day 2 you cross the Bourne Bridge and ride along Cape Cod, and finish in Provincetown </br>
    <span style="font-style:italic;">Saturday: 75 or 100 miles; Sunday 75 miles</span></br>
  </p>
  <a role="button" class="button" 
     href="http://main.nationalmssociety.org/site/TR?fr_id=29299&pg=informational&sid=13239&fr_tjoin=533570" 
     target="_blank">
    Join TVR at the CCG
  </a>
</div>

<div class="event">
  <h3>BP MS150</h3>
  <div class="date_loc">April 28-29, 2018 &mdash; Houston, TX</div>
  <p>
    The BP MS 150 is a two-day fundraising NMSS ride.  It is the largest event of its kind in North America, with 13,000 cyclists, 3,500 volunteers and countless spectators along the route and at the finish line in Austin. </br>
    <span style="font-style:italic;">Saturday: 75 or 100 miles; Sunday 75 miles</span>
  </p>
  <a role="button" class="button"
     href="http://main.nationalmssociety.org/site/TR/Bike/TXHBikeEvents?team_id=544086&pg=team&fr_id=29316"
     target="_blank">
    Join TVR in TX
  </a>
</div>

<div class="event">
  <h3>Ride the Vineyard</h3>
  <div class="date_loc">May 5, 2018 &mdash; Oak Bluffs, MA</div>
  <p>
    For one day enjoy 20, 30 or 63 miles of beautiful ocean views around the island of Martha’s Vineyard
  </p>
  <a role="button" class="button" 
     href="http://main.nationalmssociety.org/site/TR?fr_id=29890&pg=informational&sid=13239&fr_tjoin=540209"
     target="_blank">
    Join TVR on the Vineyard
  </a>
</div>

<div class="event">
  <h3>The Citrus Tour 2018</h3>
  <div class="date_loc">May 5-6, 2018 &mdash; Polk City, FL</div>
  <p>
    The Citrus Tour takes you through the citrus groves of Old Florida.  You will experience riding from Fantasy of Flight in Polk City to the Omni Orlando Resort at ChampionsGate.  Saturday night features a cocktail hour and celebration dinner banquet. </br>
    <span style="font-style:italic;">Saturday: 50, 75 or 100 miles; Sunday 20, 50 or 75 miles</span>
  </p>
  <a role="button" class="button"
     href="http://main.nationalmssociety.org/site/TR?fr_id=29298&pg=informational&sid=13239&fr_tjoin=541202"
     target="_blank">
    Join TVR in FL
  </a>
</div>

<div class="event">
  <h3>Praxair off the Chain</h3>
  <div class="date_loc">June 3, 2018 &mdash; Windsor, CT</div>
  <p>
    A bikeMS ride for the entire family!  This event includes a 2 mile kids ride, and 10, 25, 50 and 100 mile rides.  When challenging yourself on the 100 mile ride, you’ll cross to the west side of the Connecticut river and ride the countryside of CT.
  </p>
  <a role="button" class="button" 
     href="http://main.nationalmssociety.org/site/TR?fr_id=29937&pg=informational&sid=13239&fr_tjoin=540645"
     target="_blank">
    Join TVR in CT
  </a>
</div>

<div class="event">
  <h3>Ride the Rhode</h3>
  <div class="date_loc">June 9-10, 2018 &mdash; Kingston, RI</div>
  <p>
    30th annual 2-day ride through the country roads and scenic coast of Rhode Island.  Saturday only ride option is available.  Celebrate Saturday afternoon with a BBQ and in the Harpoon Beer Garden.</br>
    <span style="font-style:italic">Saturday: 35, 75 or 100 miles; Sunday: 75mile</span>
  </p>
  <a role="button" class="button" 
     href="http://main.nationalmssociety.org/site/TR?fr_id=29858&pg=informational&sid=13239&fr_tjoin=540640"
     target="_blank">
    Join TVR in RI
  </a>
</div>

<div class="event">
  <h3>Bike MS: Colorado 2018</h3>
  <div class="date_loc">June 23-24, 2018 &mdash; Westminster, CO</div>
  <p>
    Presented locally by Anthem, this two-day ride will travel through quaint towns and backroads where you’ll enjoy rolling terrain or tackle the mountain climbs surrounding Horsetooth Reservoir before ending at Colorado State University in Fort Collins. </br>
    <span style="font-style:italic">Saturday: 45, 66, 79 (tackle the climb over the Horsetooth Reservoir) or 100 miles; Sunday: 71 or 78 (tackle the eastern side of the Horsetooth Reservoir) miles</span>
  </p>
  <a role="button" class="button" 
     href="http://main.nationalmssociety.org/site/TR/Bike/COCBikeEvents?team_id=544093&pg=team&fr_id=29876"
     target="_blank">
    Join TVR in CO
  </a>
</div>

<div class="event">
  <h3>Minuteman Ride</h3>
  <div class="date_loc">July 14, 2018 &mdash; Concord, MA</div>
  <p>
    Through the historic Revolutionary-era of Concord, and surrounding metro-west towns, you’ll pass through where the "shot heard around the world" was fired.  </br>
    <span style="font-style:italic">Route Options: 25 or 60 miles</span>
  </p>
  <span role="button" class="button">
    Check back </br>
    5/1/2018 to </br>
    Join TVR in MA
  </span>
</div>

<div class="event">
  <h3>Great Lakes Mid Michigan Breakaway</h3>
  <div class="date_loc">July 21-22, 2018 &mdash; East Lansing, MI</div>
  <p>
    This two-day ride starts and finishes in Holland. There are multiple route options each day of 30, 50, 75, or 100 miles. On Saturday, riders will travel south where they will enjoy the views and the wineries and end at Hope College. Day two begins with a hearty breakfast before heading north along Lake Michigan and finishes with a BBQ celebration at the finish line.
  </p>
  <a role="button" class="button" 
     href="http://main.nationalmssociety.org/site/TR/Bike/MIGBikeEvents?team_id=544092&pg=team&fr_id=29314"
     target="_blank">
    Join TVR in MI
  </a>
</div>

<div class="event">
  <h3>Buckeye Breakaway</h3>
  <div class="date_loc">April 4-5, 2018 &mdash; Brunswick, OH</div>
  <p>
    The ride starts in Brunswick with riders traveling 30, 62, 75 or 100 scenic country miles.  Riders continuing on the two day ride will overnight at Ashland University where you will be provided dinner, activities, and an overnight party with live music in the Team Village.  Riders finish back in Brunswick on Sunday after 75 miles.
  </p>
  <a role="button" class="button"
     href="http://main.nationalmssociety.org/site/TR/Bike/OHABikeEvents?team_id=544087&pg=team&fr_id=29872"
     target="_blank">
    Join TVR in OH
  </a>
</div>

<div class="event">
  <h3>Great Maine Getaway</h3>
  <div class="date_loc">August 11-12, 2018 &mdash; Biddeford, ME</div>
  <p>
    During this two-day ride in Biddeford, Maine’s finest coastal destination.  Cyclist will also experience the beauty of the southern coastline, including an up close look at “Walker's Point,” the summer home of President George H.W. Bush.  
    <span style="font-style:italic">Route options from 25-100 miles</span>
  </p>
  <a role="button" class="button" 
     href="http://main.nationalmssociety.org/site/TR?fr_id=29857&pg=informational&sid=13239&fr_tjoin=540642"
     target="_blank">
    Join TVR in Maine
  </a>
</div>

<div class="event">
  <h3>New Hampshire Seacoast Escape</h3>
  <div class="date_loc">August 25, 2018 &mdash; Stratham, NH</div>
  <p>
    Enjoy the scenic, less-traveled roads and some main streets from a few seaside villages through the beauty of New Hampshire for 25 or 60 miles. On the 60 mile route, enjoy touching wheel into the coast of Maine.  
  </p>
  <a role="button" class="button" 
     href="http://main.nationalmssociety.org/site/TR/Bike/MAMBikeEvents?team_id=543784&pg=team&fr_id=29928"
     target="_blank">
    Join TVR in NH
  </a>
</div>

<div class="event">
  <h3>Alabama Challenge and Tour de Beach</h3>
  <div class="date_loc">September 15-16, 2018 &mdash; Birmingham, AL</div>
  <p>
    This two-day ride is the perfect way to get your Gulf vacation and a wonderful ride! Our routes take cyclists along the beautiful Gulf Coast and communities dotting the Mobile Bay. If 150 miles isn't a big enough challenge you can join us on for the third annual Bike MS: 450 on September 14th in Calera to Greenville (100 miles), then onto Atmore (100 miles), continuing the 3rd day to Orange Beach (100 miles).  You’ll then join the Tour de Beach Saturday/Sunday riders to finish your 450 miles. 
    <span style="font-style:italic">Saturday and Sunday Route Options: 24, 45, or 75 miles</span>
  </p>
  <a role="button" class="button"
     href="http://main.nationalmssociety.org/site/TR/Bike/ALCBikeEvents?team_id=544085&pg=team&fr_id=29944"
     target="_blank">
    Join TVR in Alabama
  </a>
</div>

<div class="event">
  <h3>Breakaway to the Beach</h3>
  <div class="date_loc">October 6-7, 2018 &mdash; Sunset Beach, NC</div>
  <p>
    <span style="font-style:italic">Saturday: 30, 50, 75 or 100 miles; Sunday: 21, 50, 75 or 100 miles</span>
  </p>
  <span role="button" class="button">
    Check back </br>
    5/1/2018 to </br>
    Join TVR in NC
  </span>
</div>

<div class="event">
  <h3>PGA Tour: Cycle to the Shore</h3>
  <div class="date_loc">October 13-14, 2018 &mdash; Ponte Vedra Beach, FL</div>
  <p>
    Bike MS: PGA TOUR Cycle to the Shore is a two-day fundraising cycling event from TPC Sawgrass to Daytona Beach and back. There are multiple one and two day route options ranging from 36 to 160 miles, all of which are well supported with fully-stocked rest stops, a lunch stop each day and safety provided by medical personnel, HAM radio operators, law enforcement and motorcycle escorts. Riders will travel along the beautiful Florida scenic coastline and finish day one with a beach side celebration on the Daytona Beach Boardwalk.
  </p>
  <span role="button" class="button">
    Check back </br>
    5/1/2018 to </br>
    Join TVR in FL
  </span>
</div>

<div class="event">
  <h3>New York City</h3>
  <div class="date_loc">October 21, 2018 &mdash; Manhattan, NY</div>
  <p>
    Riders will travel down the West Side highway, through the holland tunnel, through NJ, back over the George Washington Bridge and end at Pier 92/94 for the 50 &100 miles. </br>
    For the 30 mile route, rides will be escorted around the outside of Manhattan by NYC finest.
  </p>
  <span role="button" class="button">
    Check back </br>
    5/1/2018 to </br>
    Join TVR in NYC
  </span>
</div>

}
