@()(implicit request: play.api.mvc.Request[Any])

@main(title="Fundraisers", bodyId="events") {
<div id="pagemenu">
    <span class="page-title">Fundraisers</span>
</div>

<div class="event">
  <h3>Cruising for a Cause</h3>
  <div class="date_loc">June 3, 2017 &mdash; Hartford, CT</div>
  <p>
    All aboard the Lady Katherine on the Connecticut River for a spectacular evening of dinner, drinks and dancing and silent auction.  Funds go to support Hayley’s Hope and Michaela’s Miracle Multiple Sclerosis Memorial Fund, the Mandell Center, Research Scholarship program, and local programs in New England.  
  </p>
  <a role="button" class="button" 
     href="http://www.cruz4ms17.eventbrite.com/"
     target="_blank">
    Purchase tickets for </br>
    Cruising for a Cause
  </a>
</div>

<div class="event">
  <h3>Corn Hole</h3>
  <div class="date_loc">May 13, 2017 &mdash; Boston, MA (Faneuil Hall)</div>
  <p>
Experience friendly competition while bringing awareness to the National Multiple Sclerosis Society. Friends, drinks, food, raffles, and most of all fun - while raising funds to end MS. Join TVR members at 12 pm, at Ned Devine's of Fanueil Hall for our first annual Cornhole Tournament.
  </p>
  <a role="button" class="button" 
     href="https://www.eventbrite.com/e/team-velox-rota-cornhole-tournament-to-toss-out-ms-tickets-32642321061"
     target="_blank">
    Purchase tickets for </br>
    Corn Hole
  </a>
</div>

<div class="event">
  <h3>12 Bars of Christmas Pub Crawl</h3>
  <div class="date_loc">December 2017 &mdash; Boston, MA</div>
  <p>
    Holiday themed pub crawl in Boston to raise funds for the National MS Society.  12 bars starting at 1pm, and finishing when you’ve had enough! There are raffles at every bar as well! 
  </p>
  <span role="button" class="button">
    Check back 11/2017 </br>
    to purchase tickets
  </span>
</div>




}
