@()(implicit request: play.api.mvc.Request[Any])

@mainDev(title="Champions", bodyId="champions", modal=true) {
  <div id="pagemenu">
      <span class="page-title">Champions</span>
  </div>

  <div class="champions">

    <!-- The Modal -->
    <div id="modal" class="modal">
      <div class="modal-content">
	<span class="close" onclick="closeModal()">&times;</span>
	<p id="modal-text"></p>
      </div>
    </div>

    <h3>Shannon, CT</h3> 
    <p>
      <span class="champion_info">I was diagnosed with MS in 1999. MS ultimately affects all aspects of my life. I am so inspired and grateful for Rachael and Team Velox Rota’s (TVR) dedication and devotion to continually raise money and awareness for the cause, a disease that affects myself and over 400,000 others in the US. Since I cannot ride a bike due to MS, I am one of TVR’s biggest cheerleaders each year at the start/finish line at bike MS, Windsor, CT.</span>
      <a id="shannonCT" href="#" onclick="showModal(this);return false;">(read more)</a>
    </p>

    <h3>Elizabeth, MD</h3>  
    <p>
      <span class="champion_info">February 12, 2012 is a date that I won't soon forget.  It was on this day that I was officially diagnosed with Multiple Sclerosis. It’s been through the support of my children, family, and friends that I am motivated every day to move forward with my head up and a smile on my face. I’ve learned a great deal about myself in the past five years but, most importantly, that MS happens to families and not just to individuals.</span>
      <a id="elizabethMD" href="#" onclick="showModal(this);return false;">(read more)</a>
    </p>

    <h3>Sharon, NY</h3>
    <p>
      <span class="champion_info">My first time interacting with Team Velox Rota was back in 2012. It was my first year back in CT since 1973 when my family moved to New York. I was volunteering at the bike MS Windsor ride.  Due to my MS I couldn’t do any lifting, so I helped out at the registration table.  It was during this time when a bubbly young lady came to my table to get her bib number.  During our brief conversation I commented on my liking of her outfit, when she told me it was Team Velox Rota’s uniform, and to look out for more as they had a few people riding.</span>
      <a id="sharonNY" href="#" onclick="showModal(this);return false;">(read more)</a>
    </p>
    
    <h3>Kathy, PA</h3>
    <p>
      <span class="champion_info">Team Velox Rota is passionate about their fundraising efforts for the National Multiple Sclerosis Society and their goal of ending MS forever.  If thoughts really can become things, TVR through their actions are part of the positive change to make it happen.   I have been happy to support Rachael and TVR with donations for her CCG fundraising for the past few years.  As it turns out, TVR has also been supporting ME the whole time.  I was recently diagnosed with MS in 2015.</span>
    </p>
  
    <h3>Nancy, MA</h3>
    <p>
      <span class="champion_info">I have had Multiple Sclerosis for the last 15 years (it doesn't have me).  I'm been very blessed to have no progression of MS.  I do have symptoms I am dealing with, but I am thankful to attend Total Rehab and Fitness Center for MS. My first connection with Mike, was about 3 years ago.  He had been loading his bike on a Hummer with a license plate “FIGHT MS”.  Michael and I had a conversation about MS and he told me his friend has it.</span>
      <a id="nancyMA" href="#" onclick="showModal(this);return false;">(read more)</a>
    </p>

  </div>
}
