@()(implicit request: play.api.mvc.Request[Any])

@main(title="Kit") {

<div id="pagemenu">
  <span class="page-title">TVR Primal Custom Store</span>
</div>

<div class="kit">
  <p>New for 2018 we are switching our vendor to Primal, with a 15% give back to MS per piece ordered! The design has changed drastically from 2017.  It is not a team requirement that you buy this kit – <b>it is optional</b>.  However, if you can swing the cost, you will enjoy wearing the team gear and it’ll be great to have colorful TVR representation during all of the rides during throughout the year.  Kit options include:
  </p>

  <div id="kit_wrapper">
    <div id="kit_image">
      <a href="https://www.primalcustompro.com/NewTeamMemberCreate.aspx?TeamCode=TEAM38045" target="_blank"><img src="@routes.Assets.at("images/team_gear/primal_shirt.jpeg")"/></a> <br>
      (Click jersey to access team store)<br>
    </div>
    <div id="kit_list">
      <ul>
	<li>Tri Top Jersey</li>
	<li>Short Sleeve Jersey</li>  
	<li>Shorts</li>  
	<li>Bib Shorts</li>  
      </ul>
      <ul>
	<li>Zip Up Hoodie</li>  
	<li>Vest</li>  
	<li>Arm Warmers</li>  
	<li>Summer Gloves</li>  
      </ul>
    </div>
  </div>

  <p>From the Primal Team:</p>

  <p>Hello,</p>

  <p>Your team has elected to utilize the team store feature on Primal Custom Pro to place your team’s custom apparel order. The team store allows you to login and place an order for custom team or event apparel and pay for your order individually with a personal credit card. To place an order, please follow the link below to create an account or login to an existing account. <a href="https://www.primalcustompro.com/NewTeamMemberCreate.aspx?TeamCode=TEAM38045" target="_blank">This link</a> allows you exclusive access to your team or event’s custom gear.</p>


</div>
}
