<div id="footer">
  <div class="center">
    <div id="donate" class="subsection">
      <h1>How You Can Help</h1>
      <table id="donate-options">
        <tr>
          <td width="30%" class="box">
            <div class="title">Rider Donation</div>
            <div>Donate on behalf of a particular <a href="/teamMain">team member</a>.</div>
          </td>

          <td width="30%" class="box">
            <div class="title">Team Donation</div>
            <div>Donate on behalf of <a href="https://secure3.convio.net/nmss/site/Donation2?df_id=55817&FR_ID=27048&PROXY_ID=450889&PROXY_TYPE=22&55817.donation=form1">Team Velox Rota</a>.</div>
          </td>

          <td width="40%" class="box">
            <div class="title">Team Sponsor</div>
            <div>Become a <a href="/sponsors/become_a_sponsor">Team Sponsor</a>, and have your company logo on our jersey, website, and marketing material.</div>
          </td>
        </tr>
      </table>
    </div>

    <div id="contact" class="subsection">
      <h1>Stay In Touch</h1>
      <table id="contact-options">
        <tr>
          <td width="25%" class="box">
            <div class="title">Newsletter</div>
            Sign up for our
            <a href="http://visitor.constantcontact.com/d.jsp?m=1102973768508&p=oi" target="_blank">Email Newsletter</a>
            to receive occasional email updates.
          </td>

          <td width="25%" class="box">
            <div class="title">E-mail Us</div>
            <div>
              If you have any questions or comments, please send them to
              <a href="mailto:info@@veloxrota.org">info@@veloxrota.org</a>.
            </div>
          </td>

          <td width="25%" class="box">
            <div class="title">Facebook</div>
            <div>
              <a href="http://www.facebook.com/groups/49241088210/">
                <img src="@routes.Assets.at("images/facebook.jpeg")" width="45" height="45"/>
              </a>
            </div>
          </td>
        </tr>

      </table>
    </div>

    <div id="copyright-notice" class="subsection">
      Copyright 2019 Team Velox Rota | website by <a href="https://about.me/rachel-smith" target="_blank">Rachel Smith</a>
    </div>
  </div>
</div>
