@()(implicit request: play.api.mvc.Request[Any])

@main(title = "Singles Auction") {
  <div id="pagemenu">
    <span class="page-title">2nd Annual TVR Singles Auction &mdash; April 20, 2012</span>
  </div>

  <div>
    <div class="smokebox">
			<p>Volunteers and Raffle Items Needed!</p>

			<p>The TVR Singles Auction and Raffle Night will be held at the Greatest Bar on April 20th from 5-10pm. This night will include:</p>
			<ul>
				<li>3 Men and 3 Women auctioned off with great packages!</li>
				<li>Raffle items ($2 raffle tickets to be sold)</li>
				<li>Door prizes</li>
			</ul>

			<p>A few items we are looking for assistance with:</p>

			<ul>
				<li>Tell your friends! - The more the merrier.  Tickets will be $10 and will be available for advanced sale! Start spreading the word!</li>
				<li>Raffle Items - Any gift certificates or items you can donated to the night?  Some examples include: F1 Boston tickets, Gift Certificates to Restaraunts, Sports Apparel, etc.  All items will be more than appreciated!</li>
				<li>Singles to auction off! -  Is anyone interested in raffling themselves off?  We need at least one more guy!  Also if you are no longer available to auction yourself off let me know! Any ideas for "nights out"  Anything you can donate? Let us know!</li>
			</ul>
    </div>

    <div id="melissa_mcevoy" class="single-bio smokebox">
      <img class="mug" src="@routes.Assets.at("images/singles/melissa_mcevoy.jpg")">
      <span class="title">Melissa McEvoy</span>

      <ul>
        <li>Member of Velox Rota since 2010. </li>
        <li>Instructional Designer at Liberty Mutual in Back Bay. </li>
        <li>Currently living in Brighton, MA. </li>
        <li>Grew up in Plymouth, MA so I am a beach girl at heart with a city girl dark side that comes out on occasion with a need to travel - I'll being hitting 7 countries of Europe in May!</li>
        <li>I'm a diehard Red Sox and Celtics fan and love anything that gets me active...running, biking, spinning...I love it all</li>
        <li>I also have a soft spot for wine, sushi, and dancing the night away with my friends per the usual :)</li>
      </ul>
      <div style="clear: both"></div>
    </div>

    <div id="laura_bennett" class="single-bio smokebox">
      <img class="mug" src="@routes.Assets.at("images/singles/laura_bennett.jpg")">
      <span class="title">Laura Bennett</span>
      <p>Laura is an island girl who loves to spin, box, and ski to keep in beach shape for the summer. She works in finance, loves to cook, and likes watching sports but prefers to go to the games.
      </p>
      <div style="clear: both"></div>
    </div>

    <div id="dana_levensaler" class="single-bio smokebox">
      <img class="mug" src="@routes.Assets.at("images/singles/dana_levensaler.jpg")">
      <span class="title">Dana Levensaler</span>
      <p>If you can't stand the people that slow down on the highway when there's an accident on the other side, then we'll really get along.  These six S's give an accurate description.  I'm a SASSY, SOCIABLE SMART*SS who loves SPORTS and does SALES by day, SUPERHERO by night..........but no cape........just tights.
			</p>
      <div style="clear: both"></div>
    </div>
  </div>
}
